.title {
    width: 100vw;
}

.title h1 {
    text-align: center;
}

.title h3 {
    margin-left: 5vw;
}

.title a {
    color: rgb(150,150,255);
}

html body {
    font-size: 3vw;
    margin: 0;
    padding: 0;
    color: rgb(255,255,255);
    background-color: rgb(50,50,50);
}

.pidPanel {
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: rgb(60,60,60);
    color: rgb(255,255,255);
    border-radius: 3vw;
    padding: 0;
}

.p, .i, .d {
    display: inline-block;
    text-align: center;
    width: 80%;
}

.pp, .ii{
    border-bottom: 1px solid rgb(120,120,120);
}

label {
    display: inline-block;
    text-align: center;
    width: 10vw;
    border-right: 1px solid rgb(120,120,120);
}


.connect{
    width: 100vw;
    height: 100vh;
    margin:0;
    padding:0;
    display: relative;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    animation-name: slidein;
    animation-duration: 2s;
    background-color: rgb(20,80,50);
    opacity: 0;
    display: none;
}

details {
    margin-left: 5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 5vw;
}

.pid_list{
    margin-right: 10vw;
}

.pid_item {
    background-color: rgb(60,60,60);
    font-size: 4vw;
    padding: 2vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
}

.connect h1 {
    margin-top: 10%;
}

@keyframes slidein {
  0% {
    opacity: 0;
    display: relative;
  }

  50% {
    opacity: .9;
  }

  100% {
    opacity: 0;
    display: none;
  }
}